
<div class="container">
    <table class="table">
        <th>Tên lớp học</th>
        <th>Năm nhập học</th>
        <th>Năm ra trường</th>
        <th> Số lượng Sinh viên</th>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.LopHoc)
            {
                <tr>
                    <td width="30%">
                        @item.TenLopHoc
                    </td>
                    <td width="30%">
                        @String.Format("{00:dd/MM/yyyy}", item.NamNhapHoc)
                    </td>
                    <td width="30%">
                        @String.Format("{00:dd/MM/yyyy}", item.NamRaTruong)
                    </td>
                    <td width="40%">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            Edit
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a> |
                        <a asp-action="Detail" asp-route-id="@item.Id">
                            Detail
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="LopHoc" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</div>